html,
body {
  padding: 0;
  margin: 0;
  background-image: url("../../public/light-wallpaper.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

.footer {
  max-height: 11vh;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}